#targetImg {
	padding-left: 100px;
}
ul {
	width: 480px;
}
li {
	float:left;
	width:50%;
}
input {
	font-size: 22px;
	margin-left: 25px;
}
span {
	font-size: 22px;
	margin-left:25px;
}
